@use './base' as *;

::-moz-selection {
  -webkit-text-fill-color: $select-color;
  color: $select-color;
  background-color: $select-bg-color;
}
::selection {
  -webkit-text-fill-color: $select-color;
  color: $select-color;
  background-color: $select-bg-color;
}
img::-moz-selection {
  background-color: transparent;
}
img::selection {
  background-color: transparent;
}

/*
 ** HTML & Body
 */

body,
html,
* {
  cursor: auto;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;

  @media (max-width: $bkp-xl) {
    font-size: 15px;
  }
  @media all and (max-width: $bkp-l) {
    font-size: 14px;
  }
  @media (max-width: $bkp-m) {
    font-size: 13px;
  }
  @media (max-width: $bkp-s) {
    font-size: 13px;
  }
  @media (max-width: $bkp-xs) {
    font-size: 12px;
  }
}

body {
  font-family: $base-font-family !important;
  font-weight: $base-font-weight !important;
  font-style: normal !important;
  font-size: $base-font-size !important;
  color: $base-color !important;
  background-color: $base-bg-color !important;
  height: 100%;
  min-height: 100vh;
}

/*
 ** Text
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-serif !important;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}

* {
  line-height: 1;
}

/*
* Score 
*/

.score {
  display: flex; // Active le mode flexbox
  width: 800px;
  justify-content: space-between; // Centre les éléments horizontalement
  align-items: center; // Centre les éléments verticalement (si besoin)
  margin-bottom: 1rem; // Ajoute un peu d'espace au-dessous
  margin: auto;
}

.score p {
  margin: 1rem; // Supprime les marges par défaut
  font-size: 1.5rem; // Taille de texte adaptée
  color: #333; // Couleur personnalisée
}

a {
  color: $base-color;
  text-decoration: none;
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

ul,
ol {
  list-style-position: inside;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
li {
  &::marker {
    font-family: $ff-sans-serif !important;
  }
}

button {
  all: unset;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/*
 ** Canvas jeu vidéo
 */
canvas {
  display: block; // Évite les marges ajoutées par défaut
  margin: auto; // Assure l'alignement horizontal
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; // Ajuste la taille si nécessaire
  height: auto; // Maintient les proportions
}

/*
 ** React Skeleton Loader
 */
.react-loading-skeleton {
  border-radius: $border-radius-regular !important;
  border: none !important;
  --base-color: #{$grey-green} !important;
  --highlight-color: #{$grey-green-darker} !important;
}
