@use 'sass:color';
@use '../../base' as *;

main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: $ff-bambino;
  color: $black;

  .brc-background {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    height: 175%;
    width: 100%;
    z-index: -1;
    background-color: $white;
    box-shadow:
      inset -50px -50px 75px #dadcdf,
      inset 50px 50px 75px #ffffff;
  }

  .brc-filling-container {
    @include flex(center, center, column, 1rem);
    height: 100vh;
    h2 {
      font-size: $fs-xxl;
      font-weight: $fw-light;
      margin-bottom: $spacing-md;
      text-align: center;
      animation: bounceIn 0.6s $ease-in forwards;
      opacity: 0; /* Boutons cachés par défaut */
    }
    h3 {
      font-size: $fs-lg-md;
      font-weight: $fw-light;
      margin-bottom: $spacing-md;
      max-width: 1200px;
      text-align: center;
      animation: bounceIn 0.6s $ease-in forwards;
      opacity: 0; /* Boutons cachés par défaut */
      animation-delay: 0.2s;
    }
    @include brc-drink-info;

    .brc-drink-info {
      height: 100px;

      h2 {
        font-size: $fs-xxl;
      }

      > span {
        top: 0%;
      }
    }

    @include brc-buttons;

    .brc-buttons {
      animation: bounceIn 0.6s $ease-in forwards;
      opacity: 0; /* Boutons cachés par défaut */

      animation-delay: 0.4s;
    }

    .liquide-btn {
      overflow: hidden;
    }

    .water-ctr {
      @include flex(center, center, row, 0);
      top: -10;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;

      .water {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(239, 23, 23, 0.66) 40%,
          rgba(243, 195, 21, 0.66) 100%
        );
        transform: translate3d(0, 100%, 0);
        z-index: 0;
        transition: transform 0.3s $ease-out;

        &.active {
          animation: wave 10s;
        }

        @keyframes wave {
          0% {
            transform: translate3d(0, 100%, 0);
          }
          100% {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  .brc-container {
    @include flex(space-between, center, column, 1rem);

    .brc-logo {
      padding: 2.5rem;
      animation: fadeIn 4s $ease-in;

      svg {
        width: 500px;
      }
    }
    .brc-buttons-box {
      @include grid(center, center, 3, auto, 2.5rem);

      &.game-choice {
        grid-template-columns: repeat(2, 1fr);
      }

      padding-top: 1rem;

      @include brc-buttons;

      .brc-buttons {
        animation: bounceIn 0.6s $ease-in forwards;
        opacity: 0; /* Boutons cachés par défaut */
      }

      .brc-buttons.delay-0 {
        animation-delay: 4s; /* Apparition après le logo */
      }

      .brc-buttons.delay-1 {
        animation-delay: 4.2s;
      }

      .brc-buttons.delay-2 {
        animation-delay: 4.4s;
      }

      .brc-buttons.delay-3 {
        animation-delay: 4.6s;
      }

      .brc-buttons.delay-4 {
        animation-delay: 4.8s;
      }

      .brc-buttons.delay-5 {
        animation-delay: 5s;
      }
    }

    @include brc-drink-info;

    .brc-buttons-box {
      @include brc-buttons-game;

      .brc-buttons-game {
        animation: bounceIn 0.5s $ease-in forwards;
        opacity: 0;
      }

      .brc-buttons-game.delay-0 {
        animation-delay: 0.2s;
      }

      .brc-buttons-game.delay-1 {
        animation-delay: 0.4s;
      }
    }

    .brc-footer.game {
      animation-delay: 1s;
    }

    .brc-footer {
      font-size: $fs-lg;
      font-weight: $fw-light;
      padding: 10px;

      position: absolute;
      bottom: 0;

      animation: bounceIn 0.5s $ease-in forwards;
      opacity: 0;

      animation-delay: 6s;
    }
  }
}
