@use '../../base' as *;
main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: $ff-bambino;
  color: $black;

  .background {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    height: 175%;
    width: 100%;
    z-index: -1;
    background-color: $white;
    box-shadow:
      inset -50px -50px 75px #dadcdf,
      inset 50px 50px 75px #ffffff;
  }
  .barcade-container {
    @include flex(space-between, center, column, 1rem);
    height: 100vh;

    .barcade-logo {
      @include flex(center, center, column, 1rem);
      padding: 2.5rem;
      svg {
        width: 500px;
      }
    }
    .barcade-buttons-box {
      @include grid(center, center, 3, 2, 50px);

      .barcade-buttons {
        font-size: $fs-lg-md;
        font-weight: $fw-light;

        height: 80px;
        width: 225px;
        border-radius: 20px;
        background-color: $white;
        box-shadow:
          5px 5px 10px #dadcdf,
          -5px -5px 10px #ffffff;

        transition: all 0.3s $ease-in-out;
      }
      .barcade-buttons:hover {
        box-shadow:
          inset 5px 5px 10px #dadcdf,
          inset -5px -5px 10px #ffffff;
      }
    }

    .barcade-footer {
      font-size: $fs-lg;
      font-weight: $fw-light;
      padding: 10px;
    }
  }
}
